.slider {
  -webkit-appearance: none;
  height: 12px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 75%;
  background: #b7791f;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 75%;
  background: #b7791f;
  cursor: pointer;
}
.imag{
  height: 650px;
}


@media only screen and (max-width: 992px) {
  .imag{
    height: 261px;
  }
  .icon{
    top: -151px;
  }
}

/* :::::::::::::::::::::::::::::::::::: */
/* .m-4 .card-proudct{

  background-color: rgb(230, 245, 244); 
} */

/* pagetaile  */

